{% extends 'layout.html' %}
{% block title %}
Constructa
{% endblock %}
{% load static %}
<!-- custom css -->
{% block css %}
{% endblock %}
<!-- custom css end-->
{% block content %}
<section id="main-container" class="main-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Architects</h2>
        <h3 class="section-sub-title">Sign Up</h3>
      </div>
    </div>
    <!--/ Title row end -->
    <div class="row">
      <div class="col-md-12">
        <form action="" id="myform" method="post" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          {% if messages %}
          <ul class="messages text-center">
          {% for message in messages %}
           <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
           {% endfor %}
           </ul>
           {% endif %}
          <div class="error-container"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control form-control-name" name="first_name" id="first_name" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control form-control-email" name="last_name" id="last_name" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="mobile_number">Mobile Number</label>
                <input class="form-control form-control-name" name="mobile_number" id="mobile_number" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email_address">Email Address</label>
                <input class="form-control form-control-email" name="email_address" id="email_address" placeholder="" type="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control form-control-name" name="password" id="password" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input class="form-control form-control-email" name="confirm_password" id="confirm_password" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="address_line_1">Address Line 1</label>
                <input class="form-control form-control-name" name="address_line_1" id="address_line_1" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="address_line_2">Address Line 2</label>
                <input class="form-control form-control-email" name="address_line_2" id="address_line_2" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="district">District</label>
                <input class="form-control form-control-name" name="district" id="district" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="state">State</label>
                <input class="form-control form-control-name" name="state" id="state" placeholder="" type="text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="pin_code">Pin Code</label>
                <input class="form-control form-control-email" name="pin_code" id="pin_code" placeholder="" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="profile_photo">Profile Photo</label>
                <input class="form-control form-control-name" name="profile_photo" id="profile_photo" placeholder="" type="file">
              </div>
            </div>          
          </div>          
          <div class="text-right border-top">
            <a class="custom-link-1" href="{% url 'architects:sign_in' %}"><i class="fa fa-caret-left"></i> Already registered, Sign in here... </a>
            <button class="btn btn-primary solid blank" type="submit">Sign Up</button>
          </div>
        </form>
      </div>

    </div><!-- Content row -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->
{% endblock %}
<!-- custom js -->
{% block js %}
<script src="{% static 'plugins/jquery-validate/jquery.validate.min.js' %}" defer></script>
<script src="{% static 'plugins/jquery-validate/additional-methods.min.js' %}" defer></script>
<script>
  $(document).ready(function(){
  
    $.validator.addMethod("checkPhoneExist", function(value, element) {
      var exists = false;
      $.ajax({
        url: "{% url 'architects:signup_check_mobile' %}",
        method: "POST",
        data: {
          phone_number: value,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        async: false,
        success: function(data) {
          exists = data.exists;
        }
      });
      return !exists;
    }, "This phone number already exists in the database."); 

    $.validator.addMethod("checkEmailExist", function(value, element) {
      var exists = false;
      $.ajax({
        url: "{% url 'architects:signup_check_email' %}",
        method: "POST",
        data: {
          email_a: value,
          csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        async: false,
        success: function(data) {
          exists = data.exists;
        }
      });
      return !exists;
    }, "This email address already exists in the database."); 

  $( "#myform" ).validate({
   ignore: [],
    rules: {
  first_name: {
    required: true,
    digits: false,
    minlength: 2,
    maxlength: 255
  },
  last_name: {
    required: true,
    digits: false,
    minlength: 2,
    maxlength: 255
  },
  mobile_number: {
    required: true,
    digits: true,
    minlength: 10,
    maxlength: 10,
    checkPhoneExist: true    
  },
  email_address: {
    required: true,
    email: true,
    minlength: 8,
    maxlength: 255,
    checkEmailExist: true    
  },
  password: {
    required: true,
    minlength: 5,
    maxlength: 35,
  },
  confirm_password: {
    required: true,
    minlength: 5,
    maxlength: 35,
    equalTo: "#password"
  },
  address_line_1: {
    required: true,
    minlength: 5,
    maxlength: 255
  },
  address_line_2: {
    required: false,
    maxlength: 255
  },
  district: {
    required: true,
    minlength: 2,
    maxlength: 255
  },
  state: {
    required: true,
    minlength: 2,
    maxlength: 255
  },
  pin_code: {
    required: true,
    digits: true,
    minlength: 6,
    maxlength: 6
  },
  profile_photo: {
			required: true,
			extension:'png,jpg,jpeg',
		},
    }, 
    messages: {
        mobile_number: {
          required: "Please enter your phone number",
          phone: "Please enter a valid Indian phone number",
          checkPhoneExist: "This phone number already exists in the database."
        },
        email_address: {
          checkPhoneExist: "This email address already exists in the database."
        }
      }
  });
  });
  </script>
{% endblock %}
<!-- custom js end-->